.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Links */
.links img {
  height: 10vh;
}

.links td:not(:last-child) {
  padding-right: 0.75vw;
}

/* Clock */
.App .Clock {
  text-align: center;
}

.App .Clock .date, .App .Clock .weekday {
  font-size: 4vh;
}

.App .Clock .time {
  font-size: 10vh;
}
